/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/

:root {

	/*Estilos generales*/
	--letra-titulo: 'Roboto', sans-serif;

	/*Estilos del header header*/
    --color-fondo-header: #f5f5f5;    
    --url-img-logo: '';
    --color-titulo-header: #000;
    --color-iconos-header: #000;

    /*Estilos de la portada*/
    --url-img-portada: '';
    --opacidad-img-portada: .5;

    /*Estilos Titulos*/
    --color-titulo-portada: #f5f5f5;
    --color-subtitulo-cronometro-portada: #fff;
    --color-subtitulo-fecha-portada: #ccc;
    --color-letra-parrafo-portada: #bbb;
    /*Estilos del boton*/
    --color-fondo-boton-portada: #fff;
    --color-letra-boton-portada: #000; 

    --color-fondo-pagina: #fff;   
    --color-fondo-seccion-info-evento: #f5f5f5;
    --color-titulo-seccion-info-evento: #000;
    --color-letra-info-evento: #111;
}


body {
	font-family: var(--letra-titulo);
	background-color: var(--color-fondo-pagina);
}

/***************************************
    Estilos del HEADER 
***************************************/
.header {	
	grid-template-columns: 1fr 1fr 1fr;
	place-items: center;
	background: var(--color-fondo-header);
	color: #000;	
}

@media (max-width: 654px) {
    .header {
    	grid-template-columns: 1fr 1fr;
    	grid-template-rows: 8rem 6rem;    	
    }
}

.header__titulo {
	text-align: center;
	color: var(--color-titulo-header);
}

@media (max-width: 654px) {
    .header__titulo {	
        grid-row: 2/3; /* El título ocupa desde la primera hasta la última columna */
        grid-column: 1/3;    
    }
}

.footer__img,
.logo__img {
	width: 100%;
	height: auto;
	max-height: 8rem;
}

/*Contenedor de redes sociales (icons)*/
.header__redes {	
}

.redes__item {	
	margin-left: 1rem;
}

.redes__link {
	font-size: 3.5rem;	
    transition: font-size 0.3s ease;
	color: var(--color-iconos-header);
	cursor: pointer;
}

.redes__link:hover {
    font-size: 3.7rem;   
}



/******************************************
    Seccion de la PORTADA de la lading
******************************************/
.seccion__portada {		
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
    height: 45rem;

    position: relative;
}

.capa {
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);	
	opacity: .8;
	position: absolute;
	z-index: 1;
}

.portada__contenedor {
	width: 100%;
	height: 100%;
	
	justify-content: space-around;	
	flex-direction: column;

	background-color: transparent;
	text-align: center;

	color: #fff;
	position: relative;
    z-index: 2;	
}

.portada__titulo {
	margin: 0 1rem 3rem 1rem;
	color: var(--color-titulo-portada);
}


.titulo__cronometro {    
    text-align: center;
    margin-top: 2rem;    
}

.informacion__cronometro {
    font-size: 3.8rem;
    margin-bottom: 1rem;
    color: var(--color-subtitulo-cronometro-portada);
}

.cronometro__fecha {
    font-size: 2rem; 
    color: var(--color-subtitulo-fecha-portada);
}


@media (min-width: 654px) {
	.informacion__cronometro {
        font-size: 56px;    
    }

    .cronometro__fecha {
        font-size: 24px;
    }
}

.portada__info {
	max-height: 8em; 
	max-width: 60rem;
	margin: 2rem;

	display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    /* Para Firefox */
    display: -moz-box;
    -moz-box-orient: vertical;
    -moz-box-lines: 6;
    /* Para Internet Explorer */
    display: -ms-box;
    -ms-line-clamp: 2;
    /* Propiedades generales */    
    line-height: 1.2em; 
    text-overflow: ellipsis; /*suspensivos (...)*/	
}

.info__parrafo {
	font-size: 1.6rem;
	color: var(--color-letra-parrafo-portada);
}

@media (min-width: 654px) {
	.info__parrafo {
		font-size: 2rem;
	}
}

.info__btn {
	background-color: var(--color-fondo-boton-portada);
	color: var(--color-letra-boton-portada);
	padding: 1.5rem 2rem;
	font-size: 1.8rem;
	font-weight: bold;
    border: 1px solid transparent;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Define la transición */
}

.info__btn:hover {	
    background-color: transparent;
    border: 1px solid var(--color-fondo-boton-portada);
    color: var(--color-letra-boton-portada);    
}

/*******************************************
    Estilos para FORMULARIO registro evento
*******************************************/
.formulario {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    overflow: hidden; /* Oculta el contenido cuando el formulario está cerrado */
}

.formulario.mostrar {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s linear, width 0.3s ease-out, height 0.3s ease-out;
    width: 100%;
    height: 100vh;
    z-index: 2;
}


.formulario__contenedor {
    width: 100%;
    height: 100vh;   
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0; 
    left: 0;
    transition: transform 5s ease, height 5s ease;
}


.registro__button_cerrar {
	color: #ff0000;	
	justify-content: flex-end;
}

.close__button {    
    padding: 1rem;
    background-color: transparent;
    border: none;
    color: #ff0000;
    border-radius: .4rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close__button:hover {
	color: #000;
}

.formulario__registro {	
    background-color: #fff;
    border-radius: .8rem;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 90%;
    max-width: 40rem;
}

.registro__input {
    margin-bottom: 1.5rem;
}

.input__label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: .5rem;
    color: #333;
}

.input__text {
    width: 100%;
    padding: .8rem;
    border: 1px solid #ccc;
    border-radius: .4rem;
    font-size: 1.4rem;
}

.submit__button {
    width: 100%;
    padding: 1rem;
    background-color: var(--color-fondo-boton-portada);
    border: none;
    color: var(--color-letra-boton-portada);;
    border-radius: .4rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.registro__invitado {
    border: 1px solid #ccc;
    border-radius: .5rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

.invitado__titulo {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.invitado__img {
    width: 5rem; 
    height: auto;
    margin-right: 1rem;
}

.invitado__subtitulo {  
    text-align: center;
    margin: 0 0 2rem 0; 
}

/*****************************************
    Estilos seccion INFO-EVENTOS
*****************************************/
.seccion__info-evento {
    background-color: var(--color-fondo-seccion-info-evento);
	max-width: 60rem;
	margin: 4rem auto;
	padding: 2rem;
	border-radius: 1rem;
	font-size: 1.8rem;	
}

@media (max-width: 654px) {
	.seccion__info-evento {	   
	    margin: 2rem;
    }
}

.seccion__info-evento {
	background-color: var(--color-fondo-seccion-info-evento);
	color: var(--color-letra-info-evento);
	box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}

.info-evento__titulo {
	color: var(--color-titulo-seccion-info-evento);
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.info-evento__texto {    
	color: var(--color-letra-info-evento);
    font-size: 2rem;
    margin-bottom: 1rem;
}

/*****************************************************
    Estilos de pie de pagina (FOOTER)
******************************************************/
/* Estilos para el contenedor principal del footer */
.footer__contenedor {
	background-color: var(--color-fondo-header);
	width: 100%;    
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
    display: flex;
    
    display: grid;
    /*place-items: center;*/
    grid-template-rows: auto auto; 
    row-gap: 20px;
}

/* Estilos para el logo y el título del footer */
.footer__logo {
    display: flex;
    align-items: center; /* Centrar verticalmente los elementos */
    justify-content: center;
}

@media (max-width: 456px) {
    .footer__logo {
        flex-direction: column;
    }
}

.footer__img {
    width: 10rem; /* Ancho de la imagen del logo */
    margin-right: 10px; /* Margen a la derecha de la imagen del logo */
}

.footer__titulo {
	color: var(--color-titulo-header);
    font-size: 1.2rem; /* Tamaño del texto del título */
}

/* Estilos para los enlaces de términos y condiciones */
.footer__terminos a {
	text-align: center;
    color: var(--color-titulo-header);
    text-decoration: none; /* Eliminar subrayado */
    margin-right: 20px; /* Margen a la derecha entre los enlaces */
}

/* Estilos para los enlaces de términos y condiciones al pasar el mouse */
.footer__terminos a:hover {
    text-decoration: underline; /* Subrayado al pasar el mouse */
}

.container__capa {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Cubre toda la anchura de la pantalla */
    height: 100%; /* Cubre toda la altura de la pantalla */
    background-color: #f5f5f5; 
    z-index: 999; /* Asegura que esté por encima de otros elementos */
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; /* Animación */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}